[Unit]
Description=Run NASA Home Cloud daily Telegram report every day

[Timer]
OnCalendar=*-*-* 09:00:00
Persistent=true
RandomizedDelaySec=5m
Unit=nasa-daily-report-telegram.service

[Install]
WantedBy=timers.target
